/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/****end reset*****/
body{
 	font-family:'Primary', Arial, Helvetica, sans-serif;

  background: rgba(98, 244, 11, 1); /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,rgba(98, 244, 11, 1),rgba(48, 120, 5, 1),rgba(6, 221, 1, 1),rgba(3, 97, 0, 1),rgba(1, 250, 67, 1),rgba(250, 245, 1, 1),rgba(1, 136, 34, 1));
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,rgba(98, 244, 11, 1),rgba(48, 120, 5, 1),rgba(6, 221, 1, 1),rgba(3, 97, 0, 1),rgba(1, 250, 67, 1),rgba(250, 245, 1, 1),rgba(1, 136, 34, 1));
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,rgba(98, 244, 11, 1),rgba(48, 120, 5, 1),rgba(6, 221, 1, 1),rgba(3, 97, 0, 1),rgba(1, 250, 67, 1),rgba(250, 245, 1, 1),rgba(1, 136, 34, 1));
  /* Standard syntax */
  background: linear-gradient(to right, rgba(98, 244, 11, 1),rgba(48, 120, 5, 1),rgba(6, 221, 1, 1),rgba(3, 97, 0, 1),rgba(1, 250, 67, 1),rgba(250, 245, 1, 1),rgba(1, 136, 34, 1));
}
.wrap{
	width:80%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
/*----start-header-----*/
.header{
	background:#404146; /*323A45;*/
  background: -webkit-linear-gradient(-90deg, #404146, #222); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #404146, #222); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #404146, #222); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #404146, #222); /* Standard syntax */
	border-bottom:2px solid #404146; /*00B895;*/
}
.header.floatter{
  position:fixed;
  z-index: 1000;
  width: 100%;
}
.header.spacer{
  visibility: hidden;
}
.logo{
	float: left;
	padding:12px 0;
}
.logo:hover{
  transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
  opacity: 0.75;
}
.logo a img{
  width: transparent;
}
.logo.logo_big{
  visibility: visible;
  display: block;
}
.logo.logo_small{
  visibility: hidden;
  display: none;
}
.big-slider{
  visibility: visible;
  display: block;
}
.small-slider{
  visibility: hidden;
  display: none;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
	float:left;
}
.top-nav ul li a{
	font-family: 'Accent', 'Roboto', sans-serif;
	color: #d6d6d6;
	padding: 40px 25px;
	display: block;
	position: relative;
	text-transform: uppercase;
	transition-duration: 0.35s;
  transition-timing-function: ease;
	-o-transition-duration: 0.35s;
  -o-transition-timing-function: ease;
	-webkit-transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
	font-size: 0.875em;
	position:relative;
}
.top-nav li.active a, .top-nav li a:hover {
	color:#404146;
  /*text-shadow: #222 0px 2px 4px;*/
	background-color: #62f40b; /*00B895;*/
  background-color: -webkit-linear-gradient(-180deg, #62f40b, #06DD01); /* For Safari 5.1 to 6.0 */
  background-color: -o-linear-gradient(-180deg, #62f40b, #06DD01); /* For Opera 11.1 to 12.0 */
  background-color: -moz-linear-gradient(-180deg, #62f40b, #06DD01); /* For Firefox 3.6 to 15 */
  background-color: linear-gradient(-180deg, #62f40b, #06DD01); /* Standard syntax */
}
/*---start-content----*/
.content_top{
	background:#404146; /*45B39E;*/
	padding:50px 0;
	text-align: center;
	font-family: 'Primary', 'Roboto', sans-serif;
}
.content_top:not(.corpo_tecnico){
  z-index:750;
  position:relative;
}
.content_top.backgrounded_alt{
	background:url('../images/overlay2.png');
}
/*.content_top:after{
	content: '';
	position:relative;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:0%;
	top: 30px;
	margin-left: -10px;
}*/
.content_top h1 a{
	font-size:3em;
  font-family: 'Accent';
	color: #62f40b;
  text-shadow: #404146 1px 2px 4px;
	padding-bottom:14px;
  z-index:750;
  position:relative;
}
.content_top span a{
	font-family: 'Primary', 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#222; /*009175;*/
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.content_top span a:hover{
	background:#62f40b;
}
.content_top p{
	font-size:1em;
	line-height: 1.8em;
	color: #fff;
	margin-bottom: 24px;
	margin: 14px 0px 24px 0px;
  z-index:750;
  position:relative;
}
.content_top p b{
  font-size: 1.2em;
  color: #62f40b;
  font-family: 'Accent';
}
.content_inner{
	padding:50px 0;
	text-align: center;
	font-family: 'Primary', 'Roboto', sans-serif;
	position:relative;
}
.content_inner.close_to_map_viewport{
  padding-bottom:0px;
}
.content_inner.close_to_map_headline{
  padding-top:0px;
}
.content_inner h1 a{
	font-size:3em;
  font-family: 'Accent';
	color: #fff;
	padding-bottom:14px;
  z-index:750;
  position:relative;
}
.content_inner span a{
	font-family: 'Accent', 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#222; /*009175;*/
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
  z-index:750;
  position:relative;
}
.content_inner span a:hover{
	background:#62f40b;
  color: #fff;
}
.content_inner p, .content_inner h2{
	font-size:1em;
	line-height: 1.8em;
	color: #fff;
	margin-bottom: 24px;
	margin: 14px 0px 24px 0px;
  z-index:750;
  position:relative;
}
.content_inner h1, .content_inner h2, .content_inner h3, .content_inner h4{
  color: #62f40b;
}
.content_inner h1{
  font-size: 1.2em;
}
.content_inner h2{
  font-size: 1.7em;
}
.content_inner h3{
  font-size: 1.5em;
}
.content_inner h4{
  font-size: 1.3em;
}
.content_inner p b{
  font-size: 1.2em;
  font-family: 'Accent';
  color: #62f40b;
  margin-bottom: 0px;
  z-index:750;
  position:relative;
}
.content_inner p a{
  font-size: 1.2em;
  font-family: 'Accent';
  color: #62f40b;
  margin-bottom: 0px;
  z-index:750;
  position:relative;
}
.content_inner p a:hover{
  text-shadow: #222 0px 2px 80px;
  opacity: 0.9;
}
.content_inner b p{
  font-size: 1.2em;
  font-style: oblique;
  font-family: 'Accent';
  color: #62f40b;
  z-index:750;
  position:relative;
}
.content_inner iframe{
  width: 80%;
  height: 400px;
  z-index:750;
  position:relative;
}
.content-grids {
	padding:50px 0;
	background:#FFF;
}
.grid{
	float: left;
	width: 29%;
	background: #fff;
	border: 1px solid #EBEBEB;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 6%;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.grid h3{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom: 8px;
	font-size: 1.6em;
	color:#00B895;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
  overflow: hidden;
  min-height: 6em;
}
.button{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color:#00B895;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #222;
}
.last-grid{
	margin:0px;
}
/*-----specials-heading----*/
.specials{
	background: #364740; /*362f40*/ /*bac569*; /*#EDEAE6;*/
  background: -webkit-linear-gradient(-90deg, #364740, #59756A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #364740, #59756A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #364740, #59756A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #364740, #59756A); /* Standard syntax */
	padding:50px 0;
	position:relative;
  /*z-index: 399;*/
}
.specials:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #404146;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
  z-index:750;
}
.specials.contrast-section{
  background: #222; /*362f40*/ /*bac569*; /*#EDEAE6;*/
	/*border:20px solid transparent;*/
}
.specials.contrast-section:after{
	border:20px solid rgba(54,71,64,0.9);
}
.specials.backgrounded_alt:after{
	border:20px solid transparent;
}
.specials.contrast-another-section:after {
	border:20px solid rgba(34,34,34,0.9);
}
.date-area{
	background: #364740; /*362f40*/ /*bac569*; /*#EDEAE6;*/
	padding:25px 0;
	position:relative;
}
.date-area:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #cbe86b;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
  z-index:750;
}
.specials-heading h3{
	font-family: 'Accent', 'Roboto', sans-serif;
	font-size: 1.8em;
	color:#cbe86b;
	text-align: center;
	text-transform: uppercase;
	background:url(../images/bg-h2.png) repeat-x center;
  z-index:750;
  position:relative;
}
/*----special-grid------*/
.special-grid {
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}
.special-grid img{
	width:100%;
  z-index:750;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
  opacity: 0.75;
}
.special-grid img:hover, .special-grid .highlighted img{
  box-shadow: 0 6px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}
.special-grid .highlighted img{
  border-right-style: dashed;
  border-left-style: dashed;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: 5px;
  border-color: #62f40b;
  box-sizing: border-box;
}
.special-grid a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Accent', 'Roboto', sans-serif;
	color:#cbe86b;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
  z-index:750;
  position:relative;
}
.special-grid p a{
  	font-family: 'Primary', 'Roboto', sans-serif;
    display: inline;
}
.special-grid a:hover, .special-grid img:hover ~ a, .special-grid .image-link:hover ~ a, .special-grid .image-link.highlighted ~ a{
	color: #62f40b;
}
.special-grid p{
	font-size: 0.875em;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.special-grid.kinda_half{
  width:40%;
}
.special-grid.a_fourth{
  width:8%;
}
.spe-grid{
	margin: 0px;
}
.spe-placeholder{
  visibility:hidden;
}
.specials-grids {
	padding-top: 50px 0;
}
.date-button-grids {
	padding-top: 10px 0;
}
.date-button-grid {
	float: left;
	width: 10.5%;
	margin-right: 2%;
	text-align: center;
}
.date-button-grid img{
	width:100%;
  z-index:750;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
  opacity: 0.75;
}
.date-button-grid img:hover{
  box-shadow: 0 6px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}
.date-button-grid a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Accent', 'Roboto', sans-serif;
	color:#cbe86b;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
  z-index:750;
  position:relative;
}
.date-button-grid p a{
  	font-family: 'Primary', 'Roboto', sans-serif;
    display: inline;
}
.date-button-grid a:hover, .date-button-grid a.active{
	color: #62f40b;
}
.date-button-grid p{
	font-size: 0.875em;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.content_inner .date-button-grid span a{
  font-size: 0.8em;
  cursor: pointer;
}
.content_inner iframe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.date-button-grid-end{
	margin: 0px;
}
/*---start-footer-----*/
.footer{
	padding: 50px 0;
	position:relative;
}
.footer:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #363636; /*45B39E;*/
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:-20px;
	margin-left: -10px;
}
.footer-background{
  background:#404146; /*45B39E;*/
  background: -webkit-linear-gradient(-90deg, #404146, #222); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #404146, #222); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #404146, #222); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #404146, #222); /* Standard syntax */
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 550;
}
.footer-grid{
	float:left;
	width:23%;
	margin-right:2%;
}
.footer-grid h3{
	font-size: 1.2em;
	color: #cbe86b;
	text-transform: uppercase;
	font-family: 'Accent', 'Roboto', sans-serif;
	margin-bottom: 20px;
  position: relative;
  z-index: 600;
}
.footer-grid p{
	font-size: 0.875em;
	color:#cbe86b;
	font-family: 'Primary', Arial, Helvetica, sans-serif;
	line-height: 1.8em;
  position: relative;
  z-index: 600;
}
.footer-grid ul li a{
	display:block;
	padding:10px 0px;
	border-bottom: 1px solid #62f40b; /*5AC5B1;*/
	font-size: 0.875em;
	color:#cbe86b;
	font-family: 'Primary', Arial, Helvetica, sans-serif;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:uppercase;
  position: relative;
  z-index: 600;
}
.footer-grid ul li img{
  padding:15px 0px;
  margin-bottom: 10px;
  position: relative;
  z-index: 600;
}
.footer-grid ul li a:hover{
	color:#62f40b; /*005F4D;*/
}
.footer-grid.footer-lastgrid{
	width:40%;
}
.footer-grid.inner-lastgrid{
	width:23%;
}
.footer-grid.inner-lastgrid ul li.apoio_textual {
  padding:15px 0px;
  margin-top:15px;
}
.footer-grid.inner-lastgrid ul li.apoio_textual p{
  font-family:'Accent';
  color:white;
  font-size:0.75em;
  text-align:center;
  cursor: default;
}
.footer-lastgrid{
	margin:0;
}
.email-link{
	color:#FFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform:lowercase;
}
.email-link:hover{
	color:#FFF;
}
/*---start-copy-right-----*/
.copy-right{
	text-align:center;
	padding:1em;
	background: url("../images/background.jpg");
  z-index:750;
  position: relative;
}
.copy-right p{
	font-size: 0.75em;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Accent', 'Roboto', sans-serif;
  z-index:750;
  position:relative;
}
.copy-right p a{
	color: #cbe86b;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
  z-index:750;
  position: relative;
}
.copy-right p a:hover{
	color:#62f40b;
}
/*---start-contact----*/
/*  Contact Form  ============================================================================= */
.contact-form{
	position:relative;
	padding-top:30px;
	padding-bottom:30px;
	text-align: center;
  background-color: #364740;
}
.contact-form:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #cbe86b;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
  z-index:750;
}
.contact-form div{
  z-index: 750;
  position: relative;
  padding-top: 10px;
}
.contact-form span{
	display:block;
	font-family: 'Accent', sans-serif;
	font-size: 1.2em;
	color: #cbe86b;
	text-transform: uppercase;
}
.contact-form input[type="email"],.contact-form textarea{
  padding: 8px;
  width: 50%;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-size: 0.7125em;
  font-family: 'Primary', Arial, Helvetica, sans-serif;
  border: 0px;
  -webkit-appearance:none;
  background: #222; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Standard*/
  text-shadow: #222 0px 2px 80px;
  margin-bottom:30px;
}
.contact-form input[type="email"]{
  width: 50%;
}
.contact-form textarea{
  resize:none;
  height:120px;
}
.mybutton{
  font-family: 'Accent', 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#222; /*009175;*/
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
  z-index:750;
  position:relative;
	cursor:pointer;
	border:none;
}
.mybutton:hover{
  background:#62f40b;
  color: #fff;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 0.875em;
	color: rgba(85, 81, 81, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#012231;
	cursor:pointer;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.company_address p span:hover{
	color:#00B895;
}
.overlay{
  position:fixed;
  width:100%;
  height:100%;
  background-image: url('../images/overlay.png');
  background-repeat: repeat;
  z-index: 500;
}
.corpo_tecnico{
  position: relative;
  /*z-index: 550;*/
}
.corpo_tecnico_inner{
  padding:50px 0;
	position:relative;
}
.corpo_tecnico_inner:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #404146;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
  z-index:750;
}
.corpo_tecnico_background{
  background: #364740; /*362f40*/ /*bac569*; /*#EDEAE6;*/
  background: -webkit-linear-gradient(-90deg, #364740, #59756A); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #364740, #59756A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #364740, #59756A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #364740, #59756A); /* Standard syntax */
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 650;
}
.corpo_tecnico h1, .corpo_tecnico h4, .corpo_tecnico p{
  position: relative;
  z-index: 750;
}
.corpo_tecnico_big{
  display: block;
  visibility: visible;
}
.corpo_tecnico_small{
  display: none;
  visibility: hidden;
}
.entry-schedule{
  width: 100%;
  cursor: pointer;
}
.entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge{
  background-color: rgba(96, 95, 80, 0.1625);
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(96, 95, 80, 0.1625), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(96, 95, 80, 0.1625), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(96, 95, 80, 0.1625), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(96, 95, 80, 0.1625), rgba(0,0,0,0)); /*Standard*/
}
.entry-schedule.entry-schedule-meta:hover{
  font-size: 1.05em;
}
.entry-schedule.entry-schedule-main{
  background: #222; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(34,34,34,0.8), rgba(0,0,0,0)); /*Standard*/
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.15em;
}
.entry-schedule.entry-schedule-main:hover {
  /*box-shadow: 0 6px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  text-shadow: #222 0px 2px 80px;
  font-size:1.2em;
}
.entry-schedule.entry-schedule-univerisity:hover{
  background-color: rgba(125, 66, 131, 0.4625);
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(125, 66, 131, 0.4625), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(125, 66, 131, 0.4625), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(125, 66, 131, 0.4625), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(125, 66, 131, 0.4625), rgba(0,0,0,0)); /*Standard*/
  font-size: 1.05em;
}
.entry-schedule.entry-schedule-performing-box:hover{
  background-color: rgba(131, 129, 66, 0.4625);
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(131, 129, 66, 0.4625), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(131, 129, 66, 0.4625), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(131, 129, 66, 0.4625), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(131, 129, 66, 0.4625), rgba(0,0,0,0)); /*Standard*/
  font-size: 1.05em;
}
.entry-schedule.entry-schedule-arts-knowledge:hover{
  background-color: rgba(131, 80, 66, 0.4625);
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(131, 80, 66, 0.4625), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(131, 80, 66, 0.4625), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(131, 80, 66, 0.4625), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(131, 80, 66, 0.4625), rgba(0,0,0,0)); /*Standard*/
  font-size: 1.05em;
}
.entry-schedule.highlighted, .entry-schedule.highlighted:hover{
  border-right-style: dashed;
  border-left-style: dashed;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: 5px;
  border-color: #62f40b;
  box-sizing: border-box;
  font-size: inherit;
}
/*disabling redundant-day for now*/
.entry-schedule .redundant-day{
  display: none;
}
/*.entry-schedule:not(.highlighted) .redundant-day{
  display: none;
}
.entry-schedule.highlighted .redundant-day{
  display: inline;
}*/
.post-description{
  font-size: 1.2em !important;
  font-family: 'Accent' !important;
  margin-bottom: 14px !important;
  text-align: right;
}
.post-datetime{
  font-style: oblique !important;
  font-size: 0.9em !important;
  text-align: right;
}
.post-content{
  text-align: left;
  font-size:1em;
  line-height: 1.8em;
  color: #fff;
  margin-bottom: 24px;
  margin: 14px 0px 24px 0px;
  z-index:750;
  position:relative;
}
.post-content p{
  text-align: justify !important;
}
.post-content p::first-letter{
  padding-left: 50px !important;
}
.post-content p em{
  color: #62f40b;
  font-family: 'Accent';
}
.post-readmore{
  font-family: 'Accent', 'Roboto', sans-serif;
	color:#ffffff;
	background-color:#222; /*009175;*/
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size:1em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
  z-index:750;
  position:relative;
	cursor:pointer;
	border:none;
  margin-bottom: 20px;
}
.post-readmore:hover{
  background:#62f40b;
  color: #fff;
}
.rotating-marte-spiral img{
  transition-property: all;
}
.rotating-marte-spiral.fixed-in-background img{
  transition-duration: 64s;
  -o-transition-duration: 64s;
  -webkit-transition-duration: 64s;
  transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  max-width: 200%;
}
.rotating-marte-spiral.fixed-in-background{
  position: fixed;
  bottom: 0;
  z-index: 400;
}
.rotating-marte-spiral.fixed-over-footer{
  width: 40%;
  height: 40%;
  position: fixed;
  bottom: 20%;
  right: -10%;
  z-index: 600;
  opacity: 1;
  filter: brightness(150%);
}
.rotating-marte-spiral.fixed-over-footer img{
  transition-duration: 4s;
  -o-transition-duration: 4s;
  -webkit-transition-duration: 4s;
  transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}
.date-heading{
  position: sticky;
  z-index: 800;
  top:100px;
}
.date-heading h3{
  text-shadow: 1px 1px 2px #222, 0 0 25px #222, 0 0 5px #222;
}
/*@media all and (min-width: 515px) {

}*/
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.75em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.75em;
  }
  .date-heading{
    font-size: 0.75em;
  }
}
.date-heading{
  font-size: 0.7em;
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.5em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.7em;
  }
  .date-heading{
    font-size: 0.7em;
  }
  .entry-schedule.entry-schedule-main{
    font-size: 1.15em;
  }
  .entry-schedule.entry-schedule-main:hover {
    font-size:1.2em;
  }
  .entry-schedule.entry-schedule-meta, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge {
    font-size: 1em;
  }
  .entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity:hover, .entry-schedule.entry-schedule-performing-box:hover, .entry-schedule.entry-schedule-arts-knowledge:hover{
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
  .logo.logo_big{
    visibility: hidden;
    display: none;
  }
  .logo.logo_small{
    visibility: visible;
    display: block;
    padding-top: 30px;
  }
	.grid{
		width:27.8%;
	}
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.5em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.65em;
    padding-left: 15px;
    padding-right: 15px;
  }
  .entry-schedule.entry-schedule-main{
    font-size: 1.15em;
  }
  .entry-schedule.entry-schedule-main:hover {
    font-size:1.2em;
  }
  .entry-schedule.entry-schedule-meta, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge {
    font-size: 1em;
  }
  .entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity:hover, .entry-schedule.entry-schedule-performing-box:hover, .entry-schedule.entry-schedule-arts-knowledge:hover{
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.top-nav ul li a{
		padding:40px 10px;
	}
	.grid{
		width:26.8%;
	}
	.footer{
		padding:0;
	}
	.footer-grid h3{
		margin-bottom:5px;
	}
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.4em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.6em;
    padding-left: 8px;
    padding-right: 8px;
  }
  .rotating-marte-spiral.fixed-over-footer{
    width: 70%;
    height: 70%;
    bottom: -20%;
    right: -25%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
  .logo.logo_big{
    visibility: hidden;
    display: none;
  }
  .logo.logo_small{
    visibility: visible;
    display: block;
    padding-top: 15px;
    float:none;
    text-align: center;
  }
  .big-slider{
    visibility: hidden;
    display: none;
  }
  .small-slider{
    visibility: visible;
    display: block;
  }
	.top-nav ul li a{
		padding:25px 5px;
		font-size:0.75em;
	}
	.grid{
		float:none;
		width:94%;
		padding:3%;
		margin:15px 0;
	}
	.content_top{
		padding:10px 0;
	}
  .content_top h1 a{
    font-size: 1.2em;
  }
  .content_inner{
		padding:10px 0;
	}
	.content_inner:after{
		top:-10px;
	}
  .content_inner h1 a{
    font-size: 1.2em;
  }
  .content_inner h1 a:after{
    content: "";
    margin-bottom: 10px;
  }
	.special-grid{
		float:none;
		width:94%;
		padding:3%;
		margin-right:0;
	}
  .special-grid.kinda_half{
    width:94%;
  }
  .special-grid.a_fourth{
    width:94%;
  }
	.specials{
		padding:30px 0 0 0;
	}
  .corpo_tecnico_inner{
    padding:30px 0 0 0;
  }
  .spe-placeholder{
    display:none;
  }
	.specials-grids{
		padding-top:10px 0;
	}
  .date-button-grids {
  	padding-top: 2px 0;
  }
	.footer-grid:not(.inner-lastgrid){
		float:none;
		width:94%;
		padding:3%;
		margin-right:0;
	}
  .contact-form input[type="email"],.contact-form textarea{
		width:97%;
	}
  .mybutton{
    font-size: 0.7em;
  }
  .overlay{
    background-image: url('../images/overlay2.png');
  }
  .content_top.backgrounded_alt{
  	background:url('../images/overlay3.png');
  }
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.75em;
  }
  .corpo_tecnico_big{
    display: none;
    visibility: hidden;
  }
  .corpo_tecnico_small{
    display: block;
    visibility: visible;
  }
  .date-button-grid{
		width:17%;
		padding:3%;
	}
  .date-button-grid-end-small{
  	margin: 0px;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.55em;
    padding-left: 8px;
    padding-right: 8px;
  }
  .entry-schedule.entry-schedule-main{
    font-size: 0.95em;
  }
  .entry-schedule.entry-schedule-main:hover {
    font-size:1em;
  }
  .entry-schedule.entry-schedule-meta, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge {
    font-size: 0.8em;
  }
  .entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity:hover, .entry-schedule.entry-schedule-performing-box:hover, .entry-schedule.entry-schedule-arts-knowledge:hover{
    font-size: 0.85em;
  }
  .date-heading{
    top:135px;
  }
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
  .logo{
		float:none;
		text-align:center;
		padding:5px 0;
	}
  .logo.logo_big{
    visibility: hidden;
    display: none;
  }
  .logo.logo_small{
    visibility: visible;
    display: block;
  }
	.top-nav{
		float:none;
		text-align:center;
	}
	.top-nav ul li{
		float:none;
	}
	.top-nav ul li a{
		padding:15px 10px;
	}
	.content-grids,.about-us{
		padding:20px 0;
	}
	.contact-form input[type="email"],.contact-form textarea{
		width:92%;
    font-size: 0.6em;
	}
  .mybutton{
    font-size: 0.6em;
  }
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.5em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.5em;
  }
  .date-heading{
    font-size: 0.55em;
  }
  .entry-schedule.entry-schedule-main{
    font-size: 0.58em;
  }
  .entry-schedule.entry-schedule-main:hover {
    font-size:0.59em;
  }
  .entry-schedule.entry-schedule-meta, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge {
    font-size: 0.52em;
  }
  .entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity:hover, .entry-schedule.entry-schedule-performing-box:hover, .entry-schedule.entry-schedule-arts-knowledge:hover{
    font-size: 0.53em;
  }
  .special-grid .highlighted img{
    border-width: 3.5px;
  }
  .entry-schedule.highlighted, .entry-schedule.highlighted:hover{
    border-width: 3.5px;
  }
  .date-heading{
    top:155px;
  }
}
@media only screen and (max-width: 320px) {
	.wrap{
		width:95%;
	}
	.top-nav ul li a{
		padding:15px 4px;
	}
	.content_top p{
		font-size:0.8em;
		line-height:1.6em;
		margin:5px 0 25px 0;
	}
  .content_inner p{
    font-size:0.8em;
    line-height:1.6em;
    margin:5px 0 25px 0;
  }
	.specials-heading h3{
		font-size:1.5em;
	}
	.special-grid p{
		padding:0;
	}
  .copy-right p{
  	font-size: 0.50em;
  }
  .footer-grid.inner-lastgrid ul li.apoio_textual p{
    font-size:0.4em;
  }
  .footer-grid h3{
  	font-size: 1em;
  }
  .content_inner .date-button-grid span a{
    font-size: 0.5em;
  }
  .date-heading{
    font-size: 0.5em;
  }
  .entry-schedule.entry-schedule-main{
    font-size: 0.58em;
  }
  .entry-schedule.entry-schedule-main:hover {
    font-size:0.59em;
  }
  .entry-schedule.entry-schedule-meta, .entry-schedule.entry-schedule-univerisity, .entry-schedule.entry-schedule-performing-box, .entry-schedule.entry-schedule-arts-knowledge {
    font-size: 0.52em;
  }
  .entry-schedule.entry-schedule-meta:hover, .entry-schedule.entry-schedule-univerisity:hover, .entry-schedule.entry-schedule-performing-box:hover, .entry-schedule.entry-schedule-arts-knowledge:hover{
    font-size: 0.53em;
  }
  .special-grid .highlighted img{
    border-width: 2.5px;
  }
  .entry-schedule.highlighted, .entry-schedule.highlighted:hover{
    border-width: 2.5px;
  }
  .rotating-marte-spiral.fixed-over-footer{
    width: 85%;
    height: 85%;
    bottom: -40%;
    right: -35%;
  }
  .date-heading{
    top:160px;
  }
}
@font-face {
    font-family: 'Primary'; /*a name to be used later*/
    src: url('../fonts/opensans-regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Accent'; /*a name to be used later*/
    src: url('../fonts/din-bold.ttf'); /*URL to font*/
}
img.map_pin{
  width:13px;
  height:13px;
  padding-right:5px;
  padding-left:5px;
}
.image_slider{
  z-index:750;
  position:relative;
}
